*{
    font-family: lastica;
    margin: 0;
    border: border-box;
}
body{
     
    background: linear-gradient(90deg, rgba(68,32,99,1) 45%, rgba(29,50,99,1) 100%);
}
.navbar{
    
    /*background-color: black;*/
    height: 80px;
    box-shadow: 3px 2px 10px black;
     
}
.navlogo{
   /* background-color: blue;*/
    height: 80px;
    width: 11%;
}
.navlogo :hover{
    cursor: pointer;

}


.logo1{
    height:60px;
    position: relative;
    left: 50px;
    top: 15px;
}


.nav_bar_button{
    float: right;
    /*background-color: aquamarine;*/
    height: 40px;
    position:relative;
    bottom: 59px;
    right: 35px;
}
.button{
    background: rgba(68,32,99,1) ;
    border: 0cap;
    color: white;
    margin: 5px;
    border-radius: 20px;
    float: left;
    position: relative;
    width: auto;
    padding: 10px 20px;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 10px;
}
.nav_bar_button :hover{
    box-shadow: 3px 5px 8px black;
    cursor:pointer;
}
 

.cartlogo{
    height: 50px;
    margin-left:10px;
    position: relative;
    bottom:5px
}

.page1{
    /*background: blueviolet;*/
    height: 300px;
    width: 800px;
    float: left;
    position: relative;
     bottom: 80px;
     
    
    
}
#slogan{
    color:aliceblue;
    word-spacing: 10px;
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 90px;
    left: 150px;
    font-weight: 900;
    float: left;
   
    letter-spacing: 2px;
     
}
#welcome{
    color: white;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-align: center;
}
#model{
    height: 16cm;
     
    
}
#person{
    float: right;
    /*background-color: blueviolet;*/
    position: relative;
    right: 100px;

}
 
.page2{
    height: 1px;
    position: relative;
    left: 50px;
}
#page2{
    height: 23cm;
     
    

}














#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-variant: small-caps;
    letter-spacing: 2px;
    
    color: white;
    text-align: center;
}
