*{
    font-family: lastica;
    margin: 0;
    border: border-box;
}
body{
     
    background: linear-gradient(90deg, rgba(68,32,99,1) 45%, rgba(29,50,99,1) 100%);
}
.navbar{
    
    /*background-color: black;*/
    height: 135px;
}
.navlogo{
   /* background-color: blue;*/
    height: 155px;
    width: 16%;
}
.navlogo :hover{
    cursor: pointer;

}





.logo1{
    height:110px;
    position: relative;
    left: 25px;
    top: 25px;
}


.nav_bar_button{
    float: right;
    /*background-color: aquamarine;*/
    position:relative;
    bottom: 135px;
    

    
}

.nav_bar_button :hover{
    box-shadow: 3px 5px 8px black;
    cursor:pointer;
}
.button{
    background: rgba(68,32,99,1) ;
    border: 0cap;
    color: white;
    margin: 15px;
    border-radius: 20px;
    float: left;
    position: relative;
    width: auto;
    padding: 15px 55px;
    word-spacing: 10px;
    letter-spacing: 2px;
}
 

.cartlogo{
     
    margin-right: 30px;
    margin-top: 5px;
}

.page1{
    /*background: blueviolet;*/
    height: 300px;
    width: 800px;
    float: left;
    position: relative;
     bottom: 80px;
     
    
    
}
#slogan{
    color:aliceblue;
    word-spacing: 10px;
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 90px;
    left: 150px;
    font-weight: 900;
    float: left;
   
    letter-spacing: 2px;
     
}
#welcome{
    color: white;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-align: center;
}
 
